.header {
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  border-width: 0;
  border-bottom-width: 1px;
  border-color: rgb(210, 210, 210);
  border-style: solid;
  z-index: 5;
}

.left-section {
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: 10px;
}
.header-menu {
  height: 24px;
  margin-left: 10px;
}
.header-logo {
  margin-left: 40px;
  height: 24px;
}

.middle-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 100%;
  margin-left: 50px;
  margin-right: 30px;
  max-width: 500px;
}
.search-box {
  flex: 1;
  height: 36px;
  padding-left: 10px;
  font-size: 16px;
  width: 0px;
  min-width: 60px;
  border-width: 1px;
  border-color: rgb(210, 210, 210);
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  border-style: solid;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
}
.search-box::placeholder {
  font-family: Roboto, Arial;
}
.search-button {
  margin-left: -1px;
  height: 40px;
  width: 66px;
  border-width: 1px;
  border-color: rgb(210, 210, 210);
  background-color: rgb(248, 248, 248);
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-style: solid;
}
.search-icon {
  margin-top: 4px;
  width: 24px;
  height: 24px;
}
.mic-button {
  margin-left: 8px;
  height: 40px;
  width: 40px;
  background-color: rgb(248, 248, 248);
  border-radius: 20px;
  border: none;
}
.mic-icon {
  margin-top: 4px;
  width: 24px;
  height: 24px;
}
.right-section {
  display: flex;
  height: 100%;
  margin-right: 20px;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  flex-shrink: 0;
}
.icon-upload {
  height: 30px;
}
.icon-apps {
  height: 30px;
}
.notification {
  position: relative;
  margin-top: 6px;
}
.notification-icon {
  height: 30px;
}
.notification-count {
  position: absolute;
  display: flex;
  top: -4px;
  right: -6px;
  background-color: rgb(216, 0, 0);
  color: white;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  font-size: 10px;
  align-items: center;
  justify-content: center;
}
.profile-picture {
  height: 32px;
  border-radius: 16px;
}

.search-button,
.mic-button,
.upload-container,
.app-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-button .tooltip,
.mic-button .tooltip,
.notification .tooltip,
.upload-container .tooltip,
.app-container .tooltip {
  position: absolute;
  bottom: -40px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.1s;
  padding: 8px;
  font-size: 12px;
  font-family: Roboto, Arial;
  background-color: gray;
  color: white;
  border-radius: 2px;
  white-space: nowrap;
}
.search-button:hover .tooltip,
.mic-button:hover .tooltip,
.notification:hover .tooltip,
.upload-container:hover .tooltip,
.app-container:hover .tooltip {
  opacity: 1;
}
