body {
  margin: 0px;
  padding: 0px;
  margin-top: 150px;
  background-color: rgb(0, 0, 0);
  /* background-image: url("./images/car_cover.jpg"); */
}
p {
  margin: 0px;
}
header {
  position: relative;
  height: 150px;
  display: flex;
  align-items: center;
  color: white;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  z-index: 100;
}
.about-us {
  right: 50px;
  position: absolute;
  font-size: large;
}

.logo {
  height: 120px;
  width: 120px;
  margin-left: 100px;
}
.nav-title {
  font-family: Dancing Script;
  font-size: 44px;
  font-weight: bold;
  margin-left: 50px;
}
.content {
  position: relative;
}
.image {
    margin-top: -100px;
  position: absolute;
  width: 100%;
  height: auto;
  object-fit: cover;
}
.services {
  margin-top: 80px;
  margin-left: 100px;
  position: absolute;
}
.list-header {
    background-color: rgb(201, 0, 0);
    border-radius: 20px;
    padding: 10px 20px;
  font-size: 80px;
  color: rgb(238, 238, 238);
  font-family: Arial, Helvetica, sans-serif;
}
li{
    font-size: 50px;
    color: white;
    font-weight: bold;
    
    -webkit-text-stroke: 1px rgb(0, 0, 0);
}

footer {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  margin: 0;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 0);
  color: white;
}
