.thumbnails{
    width: 320px;
    height: 180px;
    object-fit: cover;
    object-position: center;
}
.video-preview{
    display: inline-block;
    vertical-align: top;
    margin-right: 12px;
}
.video-preview>p{
    width: 310px;
}