p {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Roboto, Arial;
}
.thumbnails {
  width: 320px;
  height: 180px;
  object-fit: cover;
  object-position: center;
  margin-bottom: 10px;
}
.video-preview {
  display: inline-block;
  vertical-align: top;
  margin-right: 12px;
  margin-bottom: 20px;
}
.video-title {
  width: 270px;
  font-weight: 500;
  font-size: 15px;
}
.channel-name {
  margin-top: 14px;
  color: rgb(90, 90, 90);
  font-size: 14px;
}
.video-stats {
  margin-top: 4px;
  color: rgb(90, 90, 90);
  font-size: 14px;
}
.channel-pic {
  display: inline-block;
  vertical-align: top;
  width: 50px;
}
.channel-picture {
  width: 100%;
  border-radius: 25px;
}
.video-info {
  margin-left: 10px;
  display: inline-block;
  vertical-align: top;
}
